@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* this maps these var across everything */
:root{
  --primary-green: limegreen;
  --primary-yellow: yellow;
}

/* every page */
body{
  background: #F2F2F2;
  margin: 0;
  font-family: Poppins;
}

/* navbar.jsp */
.navbar{
  background: darkgray;
  padding: 1em;
  text-decoration: none;
  line-height: 4em;
}

.navbar li{
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.navbar, a{
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1em;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--primary-green);
}

.navbar li:hover{
  font-weight: bold;
}

.logo{
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-green);
  font-size: 1.2em;
}

.logo span{
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-yellow);
}
/* home.jsp */
button{
  text-align: center;
  display: block;
  margin: 0;
  margin-top: .7em;

}

.sell-button{
  position: relative;
  float: left;
  color: limegreen;
  background-color: var(--primary-yellow);
  font-size: 600%;
  border-radius: .1em;
  margin-left: auto;
  width: 40%;
}

.buy-button{
  position: relative;
  float: right;
  color: limegreen;
  background-color: var(--primary-yellow);
  font-size: 600%;
  border-radius: .1em;
  margin-right: auto;
  width: 40%;
}

.reviews{
  padding-top: 15em;
  text-align: center;
}

.reviews li{
  list-style-type: none;
  margin-bottom: 3em;
}

/* adminremovelisting.jsp */
.adminRemoveListingListings h2 {
	margin-top: 20px;
	margin-left: 20px;
}

.listingtable {
	margin-left: 30px;
	justify-content: space-between;
	width: 100%;
}

.adminRemoveListingListings {
	width: 100%;
}

.admin-disable-user-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

.admin-disable-user-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
    left: 20px;
}

.disable-user-body h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.disable-user-body {
	width: 100%
}

.admin-disable-user-table {
	text-align: left;
}

.admin-disable-user-table th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
    text-align: left;
}

.admin-disable-user-table tbody > tr:last-child > td {
    border-bottom-width: 0;
}

.admin-disable-user-table tbody {
	text-indent: 20px;
}

/* adminhome.jsp */
.adminHomeHeader{
	color: var(--primary-green);
	font-weight: bold;
	margin: auto;
	width: 50%;
	padding:10px;
	border: 3px solid var(--primary-green);
	text-align: center;
	position: relative; top: 2em;
}

/* search.jsp */
.searchResults{
	margin-left: 30px;
	justify-content: space-between;
	width: 100%;
}

.searchResults li{
	list-style-type: none;
	margin-bottom: 1em;
	position: relative; top: 2em;
	margin-left: auto;
}

.search{
	margin: 2em;
	display: flex;
}
.game-search{
	width: 200px;
}

.searchResults{
	margin-left: 10em;
	flex: 1;
}

.titleSearch{
	margin-bottom: .2em;
}

.searchCondition{
	margin-bottom: .2em;
}

.searchGenre{
	margin-bottom: .2em;
}

.searchRating{
	margin-bottom: .2em;
}

.searchPlatform{
	margin-bottom: .2em;
}

/* cart.jsp */
table#cart{
	table-layout: fixed;
	width: 97%;
	border-collapse: collapse;
	text-align: center;
	margin: 20px;
}

.items-in-cart tr{
	border: 2px black solid;
}

.items-in-cart tr td:first-child {
	width: 50px;
	max-width: 50px;
}

.items-in-cart tr td:second-child  {
	text-align: left;
	}
	
tFoot{
	position: relative;
	top: 5px;
	text-align: center;
	font-weight: 500;
}

.cartDescription .cartGame .cartGameImage {
	float: left;
	width:  100px;
	height: 150px;
	object-fit: cover;
	margin: 10px;
}

#removeFromCart{
	box-shadow: 5px 10px #888888;
}

.cartCompletePurchase {
	position: relative;
	top: -35px;
	float: right;
	margin-right: 115px;
}

.cartStatus {
	text-align: center;
	margin-top: 50px;
	font-size: 150%;
}

.confirmPurchaseMessage {
	text-align: center;
	margin-top: 50px;
	font-size: 150%;
}

/* loginOrCreateAccount.jsp */

.forms-container {
	width: 100%;
	height: 100vh;
	
}

.login-form-box {
	margin: 20px;
	margin-left: 3%;
	padding: 3%;
	padding-top: 35px;
	width: 43%;
	float: left;
}

.login-form {
	border: 1px solid black;
	margin: 10px;
	padding: 20px;
	
}

.loginUsername{
	margin-bottom: .7em;
}

.loginPassword{
	margin-bottom: .7em;
	margin-left: .3em;
}

.new-account-form-box {
	margin: 20px;
	margin-right: 5%;
	padding: 3%;
	padding-top: 35px;
	width: 43%;
	float: right;
}

.new-account-form {
	border: 1px solid black;
	margin: 10px;
	padding: 20px;
}

.createFname{
	margin-bottom: .7em;
}

.createLname{
	margin-bottom: .7em;
}

.createUsername{
	margin-bottom: .7em;
	margin-left: .1em;
}

.createPassword{
	margin-bottom: .7em;
	margin-left: .4em;
}

.createEmail{
	margin-bottom: .7em;
	margin-left: 2.5em;
}

.createSubmit{
	margin-left: 5.7em;
}

/* sellsearchexistinggame.jsp */
.sellsearchexisitnggame{
	margin: 2em;
	display: flex;
}

.sellsearchexistinggametitlesearch{
	width: 200px;
}

.sellsearchexisitinggameresults{
	margin-left: 10em;
	flex: 1;
	margin-left: 10em;
	justify-content: space-between;
	width: 100%;
}

.sellsearchexisitinggameresults li{
	list-style-type: none;
	margin-bottom: 1em;
	position: relative; top: 2em;
	margin-left: auto;
}

/* addgame.jsp */
.addgamebody{
	margin-left: 15em;
}
.addgamebody form{
	width: 80%;
}

.addgamebody label, input{
	display: inline-block;
}

.addgamebody label{
	width: 30%;
	text-align: right;
}

.addgamebody label+input+select{
	width: 30%;
	margin: 0 30% 0 4%;
}

.addgamebody input+input{
	float: right;
}
.addgametitle{
	margin-bottom: 1em;
}

.accountinfoWholePage {
	border: 1px black solid;
	margin: 20%;
	margin-top: 50px;
	padding: 5%;
	padding-top: 3%;
	padding-left: 15%;
}



/* resetpassword.jsp */

.resetPasswordForm {
	border: 1px black solid;
	margin: 30%;
	margin-top: 5%;
	padding: 5%;
}

.addgamedescription{
	margin-top: 1em;
	margin-bottom: 1em;
}

.addgamemaxplayers{
	margin-bottom: 1em;
}

.addgamegenre{
	margin-bottom: 1em;
}

.addgamerating{
	margin-bottom: 1em;
}

.addgameimage{
	margin-bottom: 1em;
}

.addgamesubmit{
	margin-bottom: 1em;
	margin-left: 11em;
}

/* gameinfo.jsp */
.gameinfo{
	margin: 2em;
	display: flex;
}

.gameinfoGame{
	width: 200px;
}

.gameInfoInventory{
	margin-left: 10em;
	flex: 1;
	margin-left: 10em;
	justify-content: space-between;
	width: 100%;
}

.gameinfoGame img{
	width: 100%;
	height: auto;
}

/* sellsearchexistinggame.jsp */
.sellsearchexisitnggame{
	margin: 2em;
	display: flex;
}

.sellsearchexistinggametitlesearch{
	width: 200px;
}

.sellsearchexisitinggameresults{
	margin-left: 10em;
	flex: 1;
	margin-left: 10em;
	justify-content: space-between;
	width: 100%;
}

.sellsearchexisitinggameresults li{
	list-style-type: none;
	margin-bottom: 1em;
	position: relative; top: 2em;
	margin-left: auto;
}

/* selladdinventoryitem */
 .sell-add-inventory-item-container {
	margin: auto;	
	width: 40%;	
	margin-bottom: 3%;
	padding: 5px;
	font-family: Poppins;
	font-size: large;
} 
 .sell-add-inventory-item-container input{
	background-color: white;
	color: black;
	display: inline-block;
	padding: 1%;
} 
 .sell-add-inventory-item-container-group {
	width: 98%;
	height: 95%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
	text-align: left;
	background: #c5e1a5;
	padding: 2%;
	padding-left: 2%;
}	

.sell-add-inventory-item-page button {
	background: yellow;
	padding-left: 40%;
}

.sell-add-inventory-item-page-outer {
	margin: auto;	
	margin-top:1%;	
	width: 95%;	
	border: 1% solid lightgray;
	margin-bottom: 3%;
} 
	
.sell-add-inventory-item-page-inner-group {
	width: 97%;
	height: 98%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: left;
	background: lightgray;
	border-radius: 1%;
	padding: 2%;
}	

.sell-add-inventory-item-page-inner-group:after {
	margin-bottom: 5px;
	white-space: pre;
}
.sell-add-inventory-item-page-inner-group-header {
	font-weight: 500%;
	text-align: left;
	padding-top: 2%;
	padding-left: 2%;
}

.sell-add-inventory-item-successful-header-1 label{
	font-weight: 900%;
	font-size: 300%;
	text-align: left; 
	padding: 5%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.sell-add-inventory-item-successful-header-2 {
	display: inline-block;
	display: flex;
	justify-content: center;
	text-align: center;
}

.sell-add-inventory-item-successful-inner-group {
	width: 97%;
	height: 98%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: left;
	background: lightgray;
	padding: 2%;
}	

.sell-add-inventory-item-successful {
	margin: auto;	
	margin-top:1%;	
	width: 70%;	
	margin-bottom: 3%;
} 



